<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>
<!-- Header -->
<%- include('partials/header') %>
<!-- /Header -->
<body>
    <main>
        <form class="form_container" action="/create" method="POST">
            <label for="">Title</label>
            <input class="buscador" type="text" name="title">
            <label for="">Rating</label>
            <input class="buscador" type="text" name="rating">
            <label for="">Length</label>
            <input class="buscador" type="text" name="awards">
            <label for="">Genre</label>
            <select class="buscador" name="genre_id">
                <% generos.forEach(genero => { %>
                    <option value="<%=genero.id%>"><%= genero.name %> </option> <!-- aca estamos recorriendo el array genero (creado en el controller), y estamos guardando el genero.id (que seria el genero de la pelicula que queremos crear) -->
                <% }) %>
            </select>
            <label for="">Actors</label>
            <select class="buscador" name="actores" multiple> <!-- le decimos que se pueden seleccionar multiples actores -->
                <% actores.forEach(actor => { %>
                    <option value="<%=actor.id%>"><%= actor.first_name %><%= actor.last_name %>  </option> <!-- aca estamos recorriendo el array genero (creado en el controller), y estamos guardando el genero.id (que seria el genero de la pelicula que queremos crear) -->
                <% }) %>=
            </select>
            <label for="">Release Date</label>
            <input class="buscador" type="date" name="release_date">
            <button class="button__detail" type="submit">CREATE!</button>
        </form>
    </main>
</body>
</html>